<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>vue-eight-component</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/underscore.js"></script>
</head>

<body>
  <div id="ex-1">
    <my-component></my-component>
  </div>
  <div id="ex-2">
    <simple-counter></simple-counter>
    <simple-counter></simple-counter>
    <simple-counter></simple-counter>
  </div>
  <div id="ex-3">
    <child my-message="hello!"></child>
  </div>
  <div id="ex-3a">
    <cchild message="hello 3a!"></cchild>
  </div>
  <div id="ex-4">
    <input v-model="parentMsg" placeholder="please input">
    <br>
    <child :my-message="parentMsg"></child>
  </div>
  <div id="ex-5">
    <example message="1"></example>
  </div>
  <div id="counter-event-example">
    <p>{{total}}</p>
    <button-counter v-on:increment="incrementTotal"></button-counter>
    <button-counter v-on:increment="incrementTotal"></button-counter>
  </div>
  <div id="currency">
    <currency-input v-model="price"></currency-input>
  </div>
  <script>
  var Child = {
    template: '<div>A custom component!</div>'
  }
  // Vue.component('my-component', {
  //   template: '<div>A custom component!</div>'
  // })
  new Vue({
    el: '#ex-1',
    components: {
      'my-component': Child
    }
  })

  var data = { counter: 0 }
  Vue.component('simple-counter', {
    template: '<button @click="counter += 1">{{counter}}</button>',
    data: function() {
      return {
        counter: 0
      }
    }
  })
  var ex2 = new Vue({
    el: '#ex-2'
  })

  Vue.component('child', {
    props: ['myMessage'],
    template: '<span>{{myMessage}}</span>'
  })
  ex3 = new Vue({
    el: '#ex-3'
  })
  Vue.component('cchild', {
    props: ['message'],
    template: '<span>{{ message }}</span>'
  })
  var ex3a = new Vue({
    el: '#ex-3a'
  })
  var ex4 = new Vue({
    el: '#ex-4',
    data: {
      parentMsg: ''
    }
  })

  Vue.component('example', {
    props: {
      message: [String, Number],
    },
    template: '<p>{{ message }}</p>'
  })
  var ex5 = new Vue({
    el: '#ex-5'
  })

  Vue.component('button-counter', {
    template: '<button @click="increment">{{counter}}</button>',
    data: function() {
      return {
        counter: 0
      }
    },
    methods: {
      increment: function() {
        this.counter += 1
        this.$emit('increment')
      }
    }
  })

  var t = new Vue({
    el: '#counter-event-example',
    data: {
      total: 0
    },
    methods: {
      incrementTotal: function() {
        this.total += 1
      }
    }
  })


  Vue.component('currency-input', {
    template: `\
      <span>\
      $\
      <input\
        ref="input"\  
        :value="value"\
        @input="updateValue($event.target.value)"\
        >\
      </span>\
    `,
    props: ['value'],
    methods: {
      updateValue: function(value) {
        var formattedValue = value.trim().slice(0, value.indexOf('.') + 3)
        if (formattedValue !== value) {
          this.$refs.input.value = formattedValue
        }
        this.$emit('input', Number(formattedValue))
      }
    }
  })

  var currency = new Vue({
    el:'#currency',
    data:{
      price:0
    }
  })
  </script>
</body>

</html>