<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>vue-five-for</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/underscore.js"></script>
</head>

<body>
  <ul id="ex-1">
    <li v-for="item in items">
      {{item.message}}
    </li>
  </ul>
  <ul id="ex-2">
    <li v-for="(item,index) in items">
      {{ parentMessage }} - {{ index }} - {{ item.message }}
    </li>
  </ul>
  <ul id="v-for-object">
    <li v-for="(value, key,index) in object">
      {{index}}.{{key}} - {{value}}
    </li>
  </ul>
  <ul id="ex-3">
    <li v-for="(value, key,index) in userProfile">
      {{index}}.{{key}} - {{value}}
    </li>
  </ul>
  <ul id="ex-4-sort">
    <li v-for="n in eventNumbers">{{n}}</li>
    <hr>
    <li v-for="n in even(numbers)">{{ n }}</li>
     <hr>
    <li v-for="n in 10">{{ n }}</li>
  </ul>
  <script>
  var ex1 = new Vue({
    el: '#ex-1',
    data: {
      items: [
        { message: 'Foo' },
        { message: 'Bar' }
      ]
    }
  })
  var ex2 = new Vue({
    el: '#ex-2',
    data: {
      parentMessage: 'Parent',
      items: [
        { message: 'Foo' },
        { message: 'Bar' }
      ]
    }
  })
  var ex3 = new Vue({
    el: "#v-for-object",
    data: {
      object: {
        firstName: 'John',
        lastName: 'Doe',
        age: 30
      }
    }
  })

  var ex3 = new Vue({
    el: '#ex-3',
    data: {
      userProfile: {
        name: 'Anika'
      }
    }
  })
  var ex4 = new Vue({
    el: '#ex-4-sort',
    data: {
      numbers: [2, 6, 1, 7, 9, 0, 12]
    },
    computed: {
      eventNumbers: function() {
        return this.numbers.filter(function(number) {
          return number % 2 === 1
        })
      }
    },
    methods: {
      even: function(numbers) {
        return numbers.filter(function(number) {
          return number % 2 === 0
        })
      }
    }
  })
  </script>
</body>

</html>