<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>vue-seven-model</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/underscore.js"></script>
</head>

<body>
  <div id="ex-1">
    <input v-model="message" placeholder="edit me">
    <p>Message is : {{ message }}</p>
  </div>
  <div id="ex-2">
    <span>Multiline message is:</span>
    <p style="white-space: pre-line;">{{ message }}</p>
    <br>
    <textarea v-model="message" placeholder="add multiple lines"></textarea>
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{checked}}</label>
  </div>
  <div id="ex-3">
    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="Jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="John">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="Mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>
  </div>
  <div id="ex-4">
    <input type="radio" id="one" value="1" v-model="picked" checked>
    <label for=""></label>
    <input type="radio" id="two" value="2" v-model="picked">
    <label for=""></label>
    <br>
    <span>picked: {{ picked }}</span>
  </div>
  <div id="ex-5">
  	<select  v-model="selected" multiple style="width: 50px;">
  		<option disabled value="">请选择</option>
  		<option>A</option>
  		<option>B</option>
  		<option>C</option>
  	</select>
  	<br>
  	<span>selected: {{selected}}</span>
  </div>
  <div id="ex-6">
  	<select name="" id="" v-model="selected">
  		<option value="" v-for="option in options" v-bind:value="option.value">
  			{{option.text}}
  		</option>
  	</select>
  </div>
  <script>
  let ex1 = new Vue({
    el: '#ex-1',
    data: {
      message: ''
    }
  })
  let ex2 = new Vue({
    el: '#ex-2',
    data: {
      message: '',
      checked: false
    }
  })
  let ex3 = new Vue({
    el: '#ex-3',
    data: {
      checkedNames: []
    }
  })
  let ex4 = new Vue({
    el: '#ex-4',
    data: { picked: '' }
  })
  let ex5 = new Vue({
  	el: '#ex-5',
  	data:{
  		selected:[]//''
  	}
  })
  let ex6 = new Vue({
  el: '#ex-6',
  data: {
    selected: 'A',
    options: [
      { text: 'One', value: 'A' },
      { text: 'Two', value: 'B' },
      { text: 'Three', value: 'C' }
    ]
  }
  })
  </script>
</body>

</html>