<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>vue-for</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app1">
    <ul>
      <li v-for="(item, index) of items">
        {{index}} - {{item.message}}
      </li>
    </ul>
    <ul>
      <li v-for="(value, name,index) in object">
        {{index}}.{{name}}:{{value}}
      </li>
    </ul>
    <span v-for="num in nums">
      {{num}}
    </span>
    <span v-for="n in 10">{{n}}</span>
    <ul>
      <template v-for="item in items">
        <li>{{item.message}}</li>
      </template>
    </ul>
  </div>
  <div id="todo-list-example">
  <form v-on:submit.prevent="addNewTodo">
    <label for="new-todo">Add a todo</label>
    <input
      v-model="newTodoText"
      id="new-todo"
      placeholder="E.g. Feed the cat"
    >
    <button>Add</button>
  </form>
  <ul>
    <li
      is="todo-item"
      v-for="(todo, index) in todos"
      v-bind:key="todo.id"
      v-bind:title="todo.title"
      v-on:remove="todos.splice(index, 1)"
    ></li>
  </ul>
</div>
  <script>
  Vue.component('todo-item', {
    template: '\
				<li>\
					{{ title }}\
					<button @click="$emit(\'remove\')">Remove</button>\
					</li>\
			',
    props: ['title']
  })
  let todo = new Vue({
    el: "#todo-list-example",
    data: {
      newTodoText: '',
      todos: [{
          id: 1,
          title: 'Do the dishes',
        },
        {
          id: 2,
          title: 'Take out the trash',
        },
        {
          id: 3,
          title: 'Mow the lawn'
        }
      ],
      nextTodoId: 4
    },
    methods: {
      addNewTodo: function() {
        this.todos.push({
          id: this.nextTodoId++,
          title: this.newTodoText
        })
        this.newTodoText = ''
      }
    }
  })
  let app1 = new Vue({
    el: "#app1",
    data: {
      items: [
        { message: 'Foo' },
        { message: 'Bar' }
      ],
      object: {
        title: 'How to do lists in Vue',
        author: 'Jane Doe',
        publishedAt: '2016-04-10'
      },
      nums: [2, 6, 1, 3, 2, 8, 9],
      items: [{

      }]
    }
  })
  </script>
</body>

</html>