<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <span :title="ti">{{message}}</span>
    <div>
      <p v-if="seen">现在你看到我了</p>
    </div>

    <h3>v-for 循环</h3>
    <ul>
      <li v-for="(todo,index) in todos">
        {{index + 1}}.{{todo.text}}
      </li>
    </ul>

    <button @click=reverseMessage>翻转消息</button>
    <input type="text" v-model="message">

    <div>
      <p>{{message}}</p>
      <input v-model="message">
    </div>
    <ul>
      <todo-item 
      v-for="item in groceryList"
      :todo="item"
      :key="item.id"></todo-item>
    </ul>
    <p>{{o}}</p>
    {{mustaches}}
    <p v-html="mustaches"></p> 

    <button v-bind:disabled="isButtonDisabled">Button</button>

    <p>{{ num + 1 }}</p>
    <p>{{ok ? 'yes' : 'no'}}</p>
    <p>{{message.split('').reverse().join('')}}</p>

    <p v-if="seen">现在你看到我了</p>

   <!--  <a :href="url" :[attributeName]="c">点我随便跳转</a>

    <a :href="url" :[eventName]="d">点我随便跳转</a> -->

    
    {{t}}
  </div>  
</body>
<script>
  Vue.component('todo-item',{
    template: '<li>{{todo.text}}</li>',
    props:['todo'],
  })
  let obj={a:1};
  // Object.freeze(obj);
  let app = new Vue({
    el:"#app",
    data:{ 
      message: "hello Vue!",
      ti:'页面加载于'+ (new Date()).toLocaleString(),
      seen:false,
      todos:[{text:"萝卜"},{text:"白菜"},{text:"南瓜"}],
      groceryList: [
        { id: 0, text: '蔬菜' },
        { id: 1, text: '奶酪' },
        { id: 2, text: '随便其它什么人吃的东西' },
      ],
       o:obj,
       mustaches:"<span style='color:red;'>测试v-html样式</span>",
       isButtonDisabled:null,
       num:1,
       ok:false,
       url:"https://www.baidu.com",
       // attributeName:"href",
       // c:"_blank",
       // eventName:"focus",
       // d:"",
       t:""
    },
    methods:{
      reverseMessage:function(){
        this.message = this.message.split('').reverse().join('')
      }
    },
    computed:{
      now: function(){
        this.t = Date.now();
      }
    }
  })
</script>

</html>